.nav {
  border: 1px solid var(--header);
  // border-top-right-radius: 8px;
  // border-top-left-radius: 8px;

  &__main {
    h1 {
      font-family: ui-sans-serif, system-ui, Helvetica, Arial, sans-serif, Color,
        Symbol, Color;
      font-weight: bold;
      text-align: center;
    }
  }
}
