:root {
  --header: rgb(229 231 235);
  --border: #e5e7eb;
  --base: #fff;
  --top: #f7f7f7;
  --twp: rgb(107 114 128);
  --twh2: rgb(17 24 39);
  --twb: rgb(255 255 255);
  --twbc: rgb(249, 252, 254);
}
